<div class="wrapper">
  <section class="hero">
    <div class="logos">
      <img class="image" src="../assets/images/logo.png" alt="CLARK Logo">
      <img class="image" src="../assets/images/CARD_Logo.png" alt="CARD Logo">
      <!--<a  aria-label = "CLARK Home Page" href="https://clark.center/home" >
        <div class="logos-images" ></div>
      </a>-->
    </div>
    <div class="big-text">
      Meet the <span>SecEd inc.</span> Team
    </div>
    <div class="small-text">
      A team of undergraduate and graduate students doing awesome stuff
    </div>
    <!--<a class="small-text" href="https://towson.joinhandshake.com/jobs/4008513?ref=preview-header-click">Are you a Towson student interested in joining the team? Check out our opening for a Software Developer!</a>-->
  </section>
  <section class="team">
    <div class="section-inner">
      <div class="team-grid">
        <ng-container *ngFor="let t of team; let i = index">
          <div *ngIf="t.group == 1" class="team-member" (click)="showModal(t)" [ngStyle]="{'animationDelay': 0.2 +  (0.2 * (i - 1)) + 's'}">
            <ng-container [ngTemplateOutlet]="teamMember" [ngTemplateOutletContext]="{'team': t}"></ng-container>
          </div>
        </ng-container> 
      </div>
    </div>
    <div class="section-inner">
      <div class="medium-text">
        Developers
      </div>
      <div class="team-grid">
        <ng-container *ngFor="let t of team; let i = index">
          <div *ngIf="t.group == 2" class="team-member" (click)="showModal(t)" [ngStyle]="{'animationDelay': 0.2 +  (0.2 * (i - 1)) + 's'}">
            <ng-container [ngTemplateOutlet]="teamMember" [ngTemplateOutletContext]="{'team': t}"></ng-container>
          </div>
        </ng-container> 
      </div>
    </div>
    <div class="section-inner">
      <div class="medium-text">
        Technical Editors 
      </div>
      <div class="team-grid">
        <ng-container *ngFor="let t of team; let i = index">
          <div *ngIf="t.group == 4" class="team-member" (click)="showModal(t)" [ngStyle]="{'animationDelay': 0.2 +  (0.2 * (i - 1)) + 's'}">
            <ng-container [ngTemplateOutlet]="teamMember" [ngTemplateOutletContext]="{'team': t}"></ng-container>
          </div>
        </ng-container> 
      </div>
    </div>
    <div class="section-inner">
      <div class="medium-text">
        Consultants
      </div>
      <div class="team-grid">
        <ng-container *ngFor="let t of team; let i = index">
          <div *ngIf="t.group == 5" class="team-member" (click)="showModal(t)" [ngStyle]="{'animationDelay': 0.2 +  (0.2 * (i - 1)) + 's'}">
            <ng-container [ngTemplateOutlet]="teamMember" [ngTemplateOutletContext]="{'team': t}"></ng-container>
          </div>
        </ng-container> 
      </div>
    </div>
    <div class="section-inner">
      <div class="medium-text">
        Past Participants
      </div>
      <div class="team-grid">
        <ng-container *ngFor="let t of team; let i = index">
          <div *ngIf="t.group == 6" class="team-member" style="cursor: auto" [ngStyle]="{'animationDelay': 0.2 +  (0.2 * (i - 1)) + 's'}">
            <ng-container [ngTemplateOutlet]="pastMember" [ngTemplateOutletContext]="{'team': t}"></ng-container>
          </div>
        </ng-container> 
      </div>
    </div>
  </section>
  
  <section *ngIf="modalDom" class="team-member-modal" [ngClass]="{'active': modal, 'mobile': isMobile}" (click)="$event.stopPropagation()">
      <div class="close" (click)="hideModal()">
        <i class="far fa-times"></i>
      </div>
      <div class="modal-left">
        <img alt="{{ activeMember?.name.replace('|', ' ') }}" src="../assets/images/team/{{ activeMember.image }}" />
      </div>
      <div class="modal-right">
        <div class="modal-name">
            <div class="logo"></div>
            <div>
              <div class="team-member-name-modal">{{ activeMember?.name.replace('|', ' ') }}</div>
              <div class="team-member-position-modal">{{ activeMember?.position }}</div>
            </div>
            <div class="right_logo"></div>
        </div>
        <div class="bio">
          <div>{{ activeMember?.bio ? activeMember.bio : 'Unfortunately, ' + activeMember?.name.split('|')[0] + ' doesn\'t have a bio yet. :(' }}</div>
        </div>
      </div>
    </section>
    <div class="modal-cover" [ngClass]="{'active': modal}" (click)="hideModal()"></div>
  </div>
  
  <ng-template #teamMember let-t="team">
    <div class="image-wrapper">
      <div class="img" [ngStyle]="{'backgroundImage': 'url(../assets/images/team/' + t.image + ')'}"></div>
      <button>
        <i class="far fa-long-arrow-right"></i>
      </button>
    </div>
    <div class="team-member-name">{{ t.name.replace('|', ' ') }}</div>
    <div class="team-member-position">{{ t.position }}</div>
    <div class="team-member-position">{{ t.position2 }}</div>
</ng-template>

<ng-template #pastMember let-t="team">
  <div class="image-wrapper">
    <div class="img" [ngStyle]="{'backgroundImage': 'url(../assets/images/team/' + t.image + ')'}"></div>
  </div>
  <div class="team-member-name">{{ t.name.replace('|', ' ') }}</div>
  <div class="team-member-position">{{ t.position }}</div>
</ng-template>